#experience{
    border: none;
}

#projects{
    border: none;
}

#socials {
  margin:0;
  color: #dbd8d8;
}

.about {
  background: rgba(8, 8, 8, 0.507); 
  background-size: cover;
  height: 500px;
  position: relative;
}

body{
    background: whitesmoke;

}

.blog{
  background: black; 
  background-size: cover;
  height: 500px;
  position: relative;
}

.centerButton {
  margin: 0;
  position: absolute;
  top: 20%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.experiences-container{
    background: rgba(117, 117, 116, 0.623);
  background-size: cover;
  height: 600px;
  position: relative;
}

.projects {
  background: #a8a7a75e;
  background-size: cover;
  height: 600px;
  position: relative;
}

.profile{
   
  display: inline-block;
  width: 250px;
  height: 250px;
  border-radius: 50%;

  background-repeat: no-repeat;
  background-position: left center;
  background-size: cover;
}

.picture1{
   
  display: inline-block;
  width: 300px;
  height: 300px;
  border-radius: 50%;

  background-repeat: no-repeat;
  background-position: left center;
  background-size: cover;
}

.picture2{
   
  display: inline-block;
  width: 300px;
  height: 300px;
  border-radius: 50%;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.picture3{
   
  display: inline-block;
  width: 300px;
  height: 300px;
  border-radius: 50%;

  background-repeat: no-repeat;
  background-position: right center;
  background-size: cover; 
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid black;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: white;
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: black;
  padding: 20px;
}
